target/
dbt_packages/
.user.yml
*.log
.venv3*
.DS_STORE
__pycache__/
ashby/dbt/package-lock.yml
.ipynb_checkpoints/

.venv
*.egg-info/
*.csv
*.json
*.db
tmp*
__pycache__
target/
dbt_packages/
logs/
*.duckdb
*.env
**/.logs_queue
**/.nux
**/.telemetry
**/history
**/schedules
**/storage

# Keeps
!geography.csv
!dashboard.json